:root {
  --TogSwtImgScalar: 1;
}

#togswtimg1 {
  position: absolute;
  top: 100;
  left: 100;
  transform-box: fill-box; /* Use element's own bounding box */
  transform-origin: center; /* Scale from center */
  transform: scale(0.25); /* Double size */
}
#togswtimg2 {
  position: absolute;
  top: 100;
  left: 200;
  transform-box: fill-box; /* Use element's own bounding box */
  transform-origin: center; /* Scale from center */
  transform: scale(0.25); /* Double size */
}
